#title {
  color: #008080;
  text-align: center;
  background-color: #FFD700;
  padding: 15px 0px;
  font-size: 20px;
}

#create-a-new-note {
  float: right;
  font-family:monospace;
  font-size: 45px;
  padding: 5px;
}

#write-a-note {
  margin: 35px;
  text-align: center;
  padding: 15px;
  display: block;
  border-radius: 15px;
}

#save-note {
  float:none;
  font-family:monospace;
  margin-top: -60px;
}
