@import url('https://fonts.googleapis.com/css?family=Barlow:400,500|Indie+Flower|Roboto:300,400');

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#title {
  color: #d4314b;
  text-align: center;
  font-family: 'Indie Flower', sans serif;
  background-color: transparent
  padding-top: 1px;
  font-size: 30px;
}

#create-a-new-note {
  background-image: url(http://www.freepngimg.com/thumb/pen/4-pen-in-hand-png-image-thumb.png);
  background-color: transparent;
  background-size: cover;
  padding-top: 30px;
  padding-left: 25px;
  width: 200px;
  height: 200px;
  border: none;
  outline: none;
  float: right;
  font-family: 'Indie Flower', sans serif;
  font-size: 20px;
  opacity: 0.5;
}

#create-a-new-note:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  opacity: 1;
}

#create-a-new-note:active {
  opacity: 1;
}

#write-a-note {
  margin: 35px;
  text-align: center;
  padding: 15px;
  display: block;
  border-radius: 15px;
}

#save-note {
  float:none;
  font-family:monospace;
  margin-top: -60px;
}

#notes {
  padding-left: 200px;
  color: #d4314b;
}

li {
  font-family: 'Indie Flower';
  font-size: 24px;
  padding-bottom: 2px;
}

body {
  background-image: url(http://clipart-library.com/img1/901029.png);
  background-repeat: no-repeat;
}